{% extends 'accounts/base.html' %}
{% block content %}




<center>
    This is Update Page
    <div class="container">
        <h1>Form</h1>

        <form action="" method="POST">
            {% csrf_token %}
    

                
                <div class="form-group" >
                    <label style=" text-align: right;
                    clear: both;
                    float:left;
                    margin-left:30%;">User</label>
                    {{ form.name }}
                </div>
                <br>
            <div class="form-group">
                <label style=" text-align: right;
                clear: both;
                float:left;
                margin-left:27%;" >Role</label>{{ form.desc}}
            </div>
            <br>
  
            <div class="modal-footer">
                <a href="{% url 'addgroup' %}"><button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                  Close
                </button></a>
                <button type="submit" class="btn btn-primary">Update</button>
              </div>
    
        </form>
    </div>
</center>



{% endblock %}